<div class="avatar-dropdown">
  <div class="dropdown">
    <a
      href="#"
      class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <img src="/images/school.jpg" alt="" class="avatar-dropdown-img" />
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><%= t('profile') %></a></li>
      <li><a class="dropdown-item" href="#"><%= t('logout') %></a></li>
    </ul>
  </div>
</div>
